table {
    margin-bottom: 20px;
    border: 1px solid #EEE;
}

th {
    padding: 10px;
}

td {
    padding: 4px;
}

table tr:first-child{
    background-color: #DDD;
}

tr:nth-child(odd) {
    background-color: #EEE;
}